<TitleComponent pageTitle="Counter"></TitleComponent>
@*<p>Current count: @currentCount</p>*@
<CascadingValue Name="Counter" Value="@currentCount">
    <CascadingValue Name="CounterColor" Value="@("blue")">
        <ComponentTop></ComponentTop>
    </CascadingValue>
</CascadingValue>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="(()=> { dialog.show(); })">Click dIALOG</button>
<DialogComponent @ref="dialog"></DialogComponent>


@code {
    [Parameter]
    public EventCallback<int> setCurrentCountToParent { get; set; }
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        setCurrentCountToParent.InvokeAsync(currentCount);
    }
    private DialogComponent dialog;
}
