@page "/employeeform"

<h3>EmployeeForm</h3>
<RenderComponentForm NameLabel="Name">
    <NameInput>
        <input class="input" type="text" placeholder="Name input">
    </NameInput>
</RenderComponentForm>
<RenderComponentForm NameLabel="User Name">
    <NameInput>
        <input class="input" type="text" placeholder="User Name input">
    </NameInput>
</RenderComponentForm>
@code {

}
