@page "/employeeform"

<h3>EmployeeForm</h3>
<RenderComponentForm NameLabel="Name">
    <NameInput>
        <input class="input" type="text" placeholder="Name input">
    </NameInput>
</RenderComponentForm>
<RenderComponentForm NameLabel="Email">
    <NameInput>
        <input class="input" type="email" placeholder="emailinput">
    </NameInput>
</RenderComponentForm>
@code {

}
