<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">EmployeeBlazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <MenuComponent Items="menuProperties">
        <Row Context="menu">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@menu.MenuUrl" Match="NavLinkMatch.All">
                    <span class="@menu.MenuIcon" aria-hidden="true"></span> @menu.MenuName
                </NavLink>
            </li>
        </Row>
    </MenuComponent>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private List<MenuDetails> menuProperties;
    protected override void OnInitialized()

    {
        base.OnInitialized();
        menuProperties = new List<MenuDetails>()
            {
                new MenuDetails{MenuName="Home", MenuUrl="",MenuIcon="oi oi-home"},
                new MenuDetails{MenuName="Counter", MenuUrl="counter",MenuIcon="oi oi-plus"},
                new MenuDetails{MenuName="Fetch data", MenuUrl="fetchdata",MenuIcon="oi oi-list"},
                new MenuDetails{MenuName="Employee", MenuUrl="employee",MenuIcon="oi oi-people"},
                new MenuDetails{MenuName="Employee Form", MenuUrl="employeeform",MenuIcon="oi oi-script"},
                new MenuDetails{MenuName="Grocery", MenuUrl="grocery",MenuIcon="oi oi-cart"},
                new MenuDetails{MenuName="Cement", MenuUrl="Cement",MenuIcon="oi oi-basket"},
                new MenuDetails{MenuName="On after Render", MenuUrl="onafterRenderPage",MenuIcon="oi oi-arrow-right"},
                new MenuDetails{MenuName="Form validation", MenuUrl="formvalidation",MenuIcon="oi oi-check"},
            };
    }
    class MenuDetails
    {
        public string MenuName { get; set; }
        public string MenuUrl { get; set; }
        public string MenuIcon { get; set; }
    }
}
